# PUBLIC
APP_ENV=test
SERVER_PORT=8110
LOG_LEVEL=debug

APP_BASE_URL="http://localhost:3000/"
APP_LOGIN_REDIRECT_URL="http://localhost:3000/login/redirect"
APP_LOGOUT_REDIRECT_URL="http://localhost:8001/session/delete"

# PRIVATE
# -- APP
APP_SECRET=abababababababababababababababababababababababababababababababab

# -- DATABASE
DATABASE_MAX_CONNS=10
DATABASE_NAME="no_frame_works_test"
DATABASE_URL="postgresql://postgres:postgres@localhost:5442/no_frame_works_test?sslmode=disable"

# -- REDIS
REDIS_HOST="localhost"
REDIS_PORT="6390"
REDIS_PASSWORD=""
REDIS_DB="0"

# -- KRATOS
KRATOS_PUBLIC_URL="http://localhost:4433"
KRATOS_ADMIN_URL="http://localhost:4434"

# -- SENTRY
SENTRY_ENV=local
SENTRY_DSN=
